<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/game-03.jpg" alt="Avatar Logo" style="width:50px;" class="rounded-pill logo">
    </a>

    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ml-4">
            <a class="nav-link" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link" href="javascript:void(0)">Products</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex ml-4">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>