<!--  -->
<h1>From Parent</h1>
<div class="row">
  <div class="col-md-2">Filter By: </div>
  <div class="col-md-4"><input type="text" class="form-control" [(ngModel)]="listFilter"> </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Filter By Value: {{listFilter}}</h4>
    </div>

  </div>

</div>


<!-- component directive -->
<!-- child -->
<h1>Child Component</h1>
<app-products-list [listFilterInChild]="listFilter" (SortedPrdsEvent)="sortProducts($event)"></app-products-list>



<!-- <h2>From Parent</h2> -->

<div class="row">
  <ng-container *ngFor="let item of prds">
    <div class="col-sm-4 mb-4">
      <img [src]="item.PrdimgURL" class="img-fluid" >
      <h4>{{item.name}}</h4>
      <h5>{{item.price}}</h5>

      <div>
        <ng-container [ngSwitch]="item.categoryID">
          <ng-container *ngSwitchCase="1">Tables</ng-container>
          <ng-container *ngSwitchCase="2">Chairs</ng-container>
          <ng-container *ngSwitchCase="3">TV Units</ng-container>

        </ng-container>

      </div>

      <div>
        <ng-container *ngIf="item.quantity>0;else outOfStockVar">In Stock</ng-container>
        <!-- template reference -->
        <ng-template #outOfStockVar>Out OF Stock</ng-template>
      </div>
      <button class="btn btn-danger" [disabled]="item.quantity==0">Add to Cart<i
          class="fa-sharp fa-solid fa-cart-plus"></i></button>
    </div>
  </ng-container>
</div>

